<div class="mt-[6rem] border-[#A7A7A7] border-2 border-solid m-[2rem] p-[4rem] rounded-lg">
    <h1 class="text-[2rem] flex items-center justify-center">Ingresar</h1>
    <div>
        <div>
            <div>
                <label>Usuario</label>
                <div class="">
                <label class="flex border-[#A7A7A7] border-solid border-2 rounded-sm">
                    <mat-icon>account_circle</mat-icon>
                    <input type="email" class="focus:outline-none focus:shadow-outline"/>
                </label>
                </div>
            </div>
            <div>
                <label>Contraseña</label>
                <label class="flex border-[#A7A7A7] border-solid border-2 rounded-sm">
                    <mat-icon>lock</mat-icon>
                    <input type="password" class="focus:outline-none focus:shadow-outline">
                </label>
            </div>
            <div class="flex items-center justify-center">
                <button class=" w-[6rem] m-[1rem] mb-[0.5rem] bg-[#0049FF] text-[#FFFFFF] p-[0.5rem] rounded-md">Entrar</button>
            </div>
            <div class="flex items-center justify-center">
                <p>¿No puedes ingresa?</p>
            </div>
        </div>
    </div>
</div>