

<h2 class="m-[1rem] flex justify-center">Mis contactos</h2>

<table class="border-separate  border border-slate-500 bg-[#E4E4E4]">
    <thead class="bg-[#A2A2A2]">
    <tr>
        <th class="border border-slate-600">ID</th>
        <th class="border border-slate-600">Nombre</th>
        <th class="border border-slate-600">Apellido</th>
        <th class="border border-slate-600">Email</th>
        <th class="border border-slate-600">Phone</th>
        <th class="border border-slate-600">Fecha Creacion</th>
    </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id) {
            <tr>
                <td class="border border-slate-700">{{ user.id }}</td>
                <td class="border border-slate-700">{{ user.name }}</td>
                <td class="border border-slate-700">{{ user.lastName}}</td>
                <td class="border border-slate-700">{{ user.email }}</td>
                <td class="border border-slate-700">{{ user.phone }}</td>
                <td class="border border-slate-700">{{ user.createUser | date: "dd/MM/yyyy hh:mm a"}}</td>
            </tr>
        }
    </tbody>
</table> 
