

<h2 class="m-[1rem] flex justify-center font-semibold text-[1.5rem]">Usuarios</h2>

<div>
    <button routerLink="/form" class="mb-[0.5rem] bg-[#0049FF] text-[#FFFFFF] p-[0.5rem] rounded-md" >
        Nuevo Usuario
    </button>
</div>

<table class="border-separate  border border-slate-500 bg-[#5EC1F9]">
    <thead class="bg-[#6193B0]">
    <tr>
        <th class="border border-slate-600">ID</th>
        <th class="border border-slate-600">Nombre</th>
        <th class="border border-slate-600">Apellido</th>
        <th class="border border-slate-600">Email</th>
        <th class="border border-slate-600">Telefono</th>
        <th class="border border-slate-600">Fecha Creacion</th>
    </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id) {
            <tr>
                <td class="p-[0.2rem] border border-slate-700 bg-[#D0D0D0]">{{ user.id }}</td>
                <td class="p-[0.2rem]  border border-slate-700 bg-[#D0D0D0]">{{ user.name }}</td>
                <td class="p-[0.2rem] border border-slate-700 bg-[#D0D0D0]">{{ user.lastName}}</td>
                <td class="p-[0.2rem] border border-slate-700 bg-[#D0D0D0]">{{ user.email }}</td>
                <td class="p-[0.2rem] border border-slate-700 bg-[#D0D0D0]">{{ user.phone }}</td>
                <td class="p-[0.2rem] border border-slate-700 bg-[#D0D0D0]">{{ user.createUser | date: "dd/MM/yyyy hh:mm a"}}</td>
            </tr>
        }
    </tbody>
</table> 
