<h2 class="mb-[0.5rem] font-semibold text-[1.5rem]">Nuevo usuario</h2>

<form>
    <div>
        <div class="mb-[0.5rem]">
            <label form="name">Nombre</label> 
            <input id="name" type="text" placeholder="Jose" class="flex w-[20rem] border-2 border-[#808080] rounded">
        </div>

        <div class="mb-[0.5rem]">
            <label form="name">Apellido</label> 
            <input id="name" type="text" placeholder="Perez" class="flex w-[20rem] border-2 border-[#808080] rounded">
        </div>
        <div class="mb-[0.5rem]">
            <label form="name">Email</label> 
            <input id="name" type="text" placeholder="contacto@contacto.cl" class="flex w-[20rem] border-2 border-[#808080] rounded">
        </div>
        <div class="mb-[0.5rem]">
            <label form="name">Telefono</label> 
            <input id="name" type="text" placeholder="+56 9 62810800" class="flex w-[20rem] border-2 border-[#808080] rounded">
        </div>
        <div class="ml-[7rem]" >
            <button type="button"  routerLink="/" class="m-[0.5rem] bg-[#E44848] text-[#FFFFFF] p-[0.5rem] rounded-md" >
                Cancelar
            </button>
            <button type="button" class="m-[0.5rem] bg-[#0049FF] text-[#FFFFFF] p-[0.5rem] rounded-md" >
                Crear usuario
            </button>
        </div>
    </div>
</form>